.product_detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_card_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border: 1px solid #0e0d0d;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 #0e0d0d;
}
.product_card_detail_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.product_card_detail_name {
  font-size: 15px;
  width: 75%;
}
.product_card_detail_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 15px;
}
.button_finish {
  text-decoration: none;
  border-radius: 25;
  margin: 0 30px;
  width: auto;
  padding: 12px;
  font-size: 10px;
  background: rgb(243, 201, 201);
  border-radius: 8px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(201, 69, 12);
  border: none;
  border-style: none;
  cursor: pointer;
  font-size: larger;
}
.button_finish:hover {
  background: rgb(243, 201, 201);
  color: #0e0d0d;
  transition: all 0.5s;
}
